In [2]:
#A dictionary is similar to a real dictionary, where you look up a word and get the definition for that word. 
#Python dictionaries work in the same way, but just more powerful.
#First you look up a key in the dictionary and then you get back a value. 
#Let's see this in the example below:
#{} are used to create dictionaries.

students = {}
#Let's define the key and assign it a value
#Here for our student example we will define a key as student names and the values will be student ages. 
students ={"Alice":25, "Bob":27, "Claire":17, "Dan":21, "Emma":22}

#We now have a dictionary, set up with some items. Each item represents a student, each item has a key and a value.
#We have items, keys and values.

#How to look up a key? Simply type the name of the dictionary


students["Dan"]

21

In [3]:
#When we type in Dan's name, it returns our value of 21.
#What if we need to add to our dictionary? For example, we want to add in a missing student, we can do this as shown here:
students["Fred"] = 25
students["Fred"]

25

In [4]:
#This gives us the value of Fred's age of 25. 
#What if we need to change some of our values, for example Alice's age? We just need to type:
students["Alice"]

25

In [5]:
students["Alice"] = 26
#This should now return the age of 26:
students["Alice"]

26

In [6]:
#How can we delete one of our students? Simple, just use the "del" keyword:
del students["Fred"]
#This will now delete the key and the value, we will try to look up Fred:
students["Fred"]

KeyError: 'Fred'

In [8]:
#This returns a key error. Which says that the key of Fred cannot be found. 
#To return our updated dictionary, do this:
students.keys()

dict_keys(['Alice', 'Bob', 'Claire', 'Dan', 'Emma'])

In [9]:
#This now returns our updated dictionary. The dict_keys data type if iterable, but not indexable, as seen in the example below:
students.keys()[0]

TypeError: 'dict_keys' object is not subscriptable

In [11]:
#The way we can access certain indexes, is to turn this into a list instead:

a = list(students.keys())

In [12]:
a

['Alice', 'Bob', 'Claire', 'Dan', 'Emma']

In [13]:
a[0]

'Alice'

In [14]:
a[1]

'Bob'

In [15]:
a[2]

'Claire'

In [17]:
#We can also get the values on it's own, using dict_values
students.values()

dict_values([26, 27, 17, 21, 22])

In [19]:
#The above are very compatible with loops, e.g for loops. 
list(students.values())[2:]

[17, 21, 22]

In [20]:
#The above shows slices of the values. 
#So we have learnt that dictionaries have limitations but we can always convert it into a list. 
#An important thing to note here, is that a dictionary, unlike tuples / list, does not have an order, 
#the only way to access an item, is to use it's key. 
print(students)

{'Alice': 26, 'Bob': 27, 'Claire': 17, 'Dan': 21, 'Emma': 22}

In [ ]:
#Recap: 
#We learnt that a python dictionary, works just like a real life dictionary, in that you first look up a key, just 
#like you would look up a word and then you get back some information. 
#Each key value pair is called an item. 
#We then created a dictionary of students, each of the key was the students name and the value was the age. 
#We learnt how to look up a key in the dictionary using [] syntax. 
#We also added a new student called Fred to the dictionary. 
#We also learnt how to delete from a dictionary and assign new values.